*{
  box-sizing: border-box;
  margin: 0;
  color: #33475b;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body>.topbar{
  height: 100px;
  background-color:#cbd6e2;
  text-align: center;
  line-height: 100px;
  position: sticky;
  top: 0;
}
.left>button{
  color: #33475b;
  background-color: inherit;
  border: 0px;
}
.right>
button#a{
  color: orange;
  background-color: white;
}
.right>button#b{
  color: white;
  background-color: orange;
}
.right>button{
border-color: orange;
border-radius: 4px;
padding: 10px;
}
.container:after{
  display: table;
  content: '';
  clear: both;
}
.container>.left{
  float: left;
}
.container>.right{
  float: right;
}
.rightt>button{
  color: #33475b;
  background-color: inherit;
  border: 0px;
}
.leftt{
  float: left;
}
.rightt{
  float: right;
}
.navbar:after{
  display: table;
  content: '';
  clear: both;
}
nav{
  height: 100px;
  text-align: center;
  line-height: 100px;
}
main {
  height: 647px;
  border-bottom: 3px solid #33475b;
  background-image: url(hero1.png);
}
.position>h1,.position>p{
  width: 40%;
  color: white;
}
.position{
  height: 100%;
  margin: 0;
}
.position>h1{
  font-size: 50px;
  padding-top: 100px;
}
.position>p{
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
#c{
  text-align: right;
}
.position>button{
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
}
#testopiccolo{
  width: 25%;
}
.container>img{
  text-align: right;
}
.container{
  width: 1100px;
  margin: auto;
  }
.rubic>#cubo{
  width: 20%;
}
.rubic>h2{
  padding-bottom: 30px;
}
.rubic>p{
  padding-bottom: 50px;
}
.rubic{
  width: 63%;
  margin: auto;
}
body>.middlebar{
  height: 1000px;
  background-color:#EBEBEB;
  text-align: center;
  padding: 50px;
}
.container-due{
  width: 80%;
  background-color: white;
  margin:auto;
  padding: 20px;
  padding-right: 30px;
  padding-right: 30px;
}
.container-due>.sx>img{
  width: 40%;
}
.orange>button{
  background-color: orange;
  color:white;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 15px;
  padding-right:15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-due:after{
  display: table;
  content: '';
  clear: both;
}
.container-due>.sx,.container-due>.dx{
  float: left;
  width: 50%;
}

.dx{
  text-align: left;
}
.dx>h3{
  padding-bottom: 20px;
  padding-top: 10px;
}
.dx>p{
  font-size: 15px;
  padding-bottom: 20px;
}
.dx>i{
  padding-right: 10px;
  padding-top: 20px;
}

.container-tre{
  width: 80%;
  margin: auto ;
  margin-top:20px;

  }

.container-tre:after{
  display: table;
  content: '';
  clear: both;
}

.container-tre>.sinistra,.container-tre>.centro,.container-tre>.destra{

  float: left;
  width: 30%;
  background-color: white;
}

.container-tre>.centro{
  margin-left: 5%;
  margin-right: 5%;
}

.container-tre>.destra>img,.container-tre>.sinistra>img,.container-tre>.centro>img{
  width: 50%;
}

.testo,.pallocchi{
  font-size: 15px;
  margin-left: 10%;
  margin-right:10%;
  text-align: left;
  margin-bottom: 10px;
}
.sinistra>hr,.centro>hr,.destra>hr{
  border-color: lightgrey;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-quattro{
  background-color: #606e8c;
  text-align: center;
}
.tiesto{
  padding-top: 100px;
  padding-bottom:100px;
}
.tiesto>h2,.tiesto>h6{
  color:white;
  width: 50%;
  margin: auto;
}

.riquadri{
  width: 80%;
  margin: auto;
  padding-bottom: 100px;
}
.uno>h5{
  border-bottom: solid 1px;
  border-right: solid 1px;
}

.uno>.img,.uno>h2,.uno>h5{
  color: white;
  border-right: solid 1px;
}

.uno>.img{
  padding-top: 20px;
}

.quattro>.img{
  padding-top: 20px;
}

.quattro>h5{
  color: white;
  border-bottom: solid 1px;
}
.quattro>h2{
  color: white;
}
.sopra:after{
  display: table;
  content: '';
  clear: both;
}
.uno,.quattro{
  float: left;
  width: 25%;
}


.container-cinque,.container-sei{
  width: 80%;
  margin: auto;
  background-color: white;
  padding:50px;
  padding-top: 100px;
}
.lefty>h1{
  font-size: 50px;
}

.top:after{
  display: table;
  content: '';
  clear: both;
}
.lefty{
  float: left;
  width: 20%;
}


.righty{
  float:right;
  width: 60%;
}

.righty:after{
  display: table;
  content: '';
  clear: both;
}

.loghini{
  padding: 10px;
  float: left;
  width: 25%;
}

.container-sei{

  padding-bottom:150px;
  }

.container-sei{
  padding-top: 250px;
}
.container-sei>.position>p{
  color:inherit;
}

.container-sei>.position>button{
  background-color:orange;
}

#white{
  color: white;
}
.immagine>img{
  border-radius: 328px;
}


.container-sei:after{
  display: table;
  content: '';
  clear: both;
}
.container-sei>.position{
  float: left;
  width: 70%;
}

.container-sei>.immagine{
  float:right;
  width: 30%;
}
.immagine{
  text-align: right;
}

.container-sette,.container-otto{
  width: 100%;
  margin: auto;
  background-color:#33475b;
  padding:50px;
  }

.scritte{
  width: 80%;
  margin: auto;
  }

#white>p>b,#white>h5{
  color: white;
  padding: 15px;
}

#celeste:hover{
color:#00FFFF;
}
.scritte:after{
  display: table;
  content: '';
  clear: both;
}
#white{
  float: left;
  width: 25%;
}
.icon>i{
  color: white;
  padding-top: 20px;
  float: left;
  width: 16.6666%;
}

.icon:after{
  display: table;
  content: '';
  clear: both;
}
#white>button{
  border-radius: 5px;
  padding: 5px;
}

#white>p>b,#white>h5{
  color: white;
  padding: 15px;
}
.pedice>#celeste,.left>p,.right>p,.right>span{
  color: white;
}

.pedice:after{
  display: table;
  content: '';
  clear: both;
  }

.pedice>#celeste{
    float: left;
    width: 16.666%;
  }
.pedice{
  width: 50%;
  margin:auto;
  padding-bottom: 50px;
}
.pedice>#celeste:hover{
color:#00FFFF;
}

.ms{
  width: 100%;
  margin: auto;
  background-color:#33475b;
  padding:10px;
}

.ms>.container-nove{
  width: 85%;
  margin: auto;
}
.container-otto>hr{
  width: 90%;
  margin: auto;
}


.container-nove:after{
  display: table;
  content: '';
  clear: both;
  }

.container-nove>.left{
  float: left;
  width: 50%;
}
.container-nove>.right{
  float: right;
  width: 50%;
  text-align: right;

}
.right>span{
  margin: 10px;
}
